

# Basic training configuration for Expresso with Encodec features

---
random_seed: 42
ckpt_path: null
gpus: "0"

# Dataset options:
dataset:
  dataset_path: "/project2/shrikann_35/DATA/expresso/codec_feats/encodec" 
  split: "train"
  input_type: "quantized_embedding"
  emotion_model: "wavlm"

# Dataloader options:
dataloader:
  batch_size: 32
  num_workers: 2
  train_frac: 0.9

# Model options:
lightning:
  codec_dim: 128
  latent_dim: 128
  enc_channels: [128, 64, 32]
  dec_channels: [32, 64, 128]
  conditioning_dim: 256
  num_emotion_classes: 9
  adv_loss_weight: 1.0
  learning_rate: 1e-3
  weight_decay: 0
  adv_annealing_steps: 500
  adv_update_factor: 1


# Training options:
trainer:
  max_epochs: 1
  val_check_interval: 1.0 # Must be >= 1 for iterable-type dataset
  log_every_n_steps: 10    
  sync_batchnorm: True
  accelerator: "gpu"
  devices: "auto"
  deterministic: False
  detect_anomaly: True

# Tensorboard options:
tensorboard:
  save_dir: "/project2/shrikann_35/nmehlman/logs/private_codecs"
  name: "train_test_expresso_encodec"
  version: null     # Automatic versioning if set to null (recommended)


