

# Basic training configuration for Expresso with Encodec features

---
random_seed: 42
ckpt_path: null
gpus: "0"
dataset_name: "expresso"
codec_name: "encodec"
input_type: "quantized_embedding"

# Dataset options:
dataset:
  dataset_path: "/project2/shrikann_35/DATA/expresso/codec_feats/"
  codec: "encodec"
  emotion_model: "wavlm"

# Dataloader options:
dataloader:
  batch_size: 64
  num_workers: 4

# Model options:
lightning:
  codec_dim: 128
  latent_dim: 64
  enc_channels: [256, 128]
  dec_channels: [256]
  conditioning_dim: 256
  conditioning_dropout: 0.0
  num_emotion_classes: 9
  learning_rate: 0.002
  weight_decay: 0
  normalize_input: true
  use_adversarial: false
  lr_scheduling: true
  gradient_clip_val: 2.0
  emotion_utilization_weight: 100.0
  emotion_utilization_margin: 0.003


# Training options:
trainer:
  max_epochs: 500
  val_check_interval: 1.0 # Must be >= 1 for iterable-type dataset
  log_every_n_steps: 10    
  sync_batchnorm: True
  accelerator: "gpu"
  devices: "auto"
  deterministic: False
  detect_anomaly: True

# Tensorboard options:
tensorboard:
  save_dir: "/project2/shrikann_35/nmehlman/logs/private_codecs/tensorboard"
  name: "embed-table-ae-only-no-film"
  version: null     # Automatic versioning if set to null (recommended)

